<!-- <app-work1></app-work1> -->
<!-- <app-work01></app-work01> -->

<!-- 父传子 -->
<!-- <app-myc01 name="东东" 
phone="188456284565" 
[married]="true"
[boss]="{ name: '李文华' , age: 33 }"
[dog]="{ name: '豆豆' , age: 3,sex: '公'}"></app-myc01> -->

<!-- <app-myc02 (showMsg)="show($event)"></app-myc02> -->
<!-- 掌控子元素：变量关联组价 -->
<!-- <app-myc03 #m3></app-myc03>

<button (click)="doAdd()">+</button>
<br/>
<button>显示</button>

<app-myc04></app-myc04>
<app-myc05></app-myc05>
<app-myc06></app-myc06> -->
<!-- <app-myd01></app-myd01> -->
<!-- <app-myd02></app-myd02> -->
<app-myd03></app-myd03>
